@tailwind base;
@tailwind components;
@tailwind utilities;


.anim {
  transition: opacity .5s ease-in-out; 
  opacity: 1;
}

.anim.hiden {
  opacity: 0; 
}

#boxcss {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

